page-login {
    .alignLogo{
        width: 60%;
        padding-top: 30%;
        padding-bottom: 10%;
        transform: translateX(30%);
    }

    .btnLogin{
        color: #333333;
        font-family: "Lato";
    }

    .pholder{
        font-size: small;
    }

    .footerStyle{
        text-align: center;
        padding: 20px;
    }

    .signUp{
        text-transform: uppercase;
        font-weight: bold;
    }
}