page-register {
    .alignLogo{
        width:60%;
        padding-top:20%;
        transform:translateX(30%);
    }

    .btnLogin{
        color:#333333;
        font-family:"Lato";
    }

    .footerStyle{
        text-align:center;
        padding:20px;
    }

    .login{
        text-transform:uppercase;
        font-weight:bold;
    }

    .pholder
    {
        font-size:small;
    }
}
