page-register {
    .alignLogo{
        width:50%;
        padding-top:20%;
        transform:translateX(50%);
    }

    .btnLogin{
        color:white;
    }

    .footerStyle{
        text-align:center;
        padding:20px;
    }

    .login{
        text-transform:uppercase;
        font-weight:bold;
    }
}
