
<ion-header>

  <ion-navbar>
    <ion-title>Notifications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
        <div *ngFor = 'let notif of notifInfo | async'>
          <ion-item text-wrap *ngIf = 'notif.type == Filter'>
            <div *ngIf = 'Filter == "traffic"'>
              <ion-icon name ="alert" item-start></ion-icon>
              <b>{{ notif.rating }} Traffic</b> at {{ notif.location }}
            </div>
            <div *ngIf = 'Filter == "parking"'>
              <ion-icon name ="flag" item-start></ion-icon>
              <b>{{ notif.rating }} Traffic</b> at {{ notif.location }}
            </div>
            <div *ngIf = 'Filter == "announcement"'>
              <ion-icon name ="megaphone" item-start></ion-icon>
              {{ notif.details }}
            </div>
          </ion-item>
        </div>
      </ion-list>

</ion-content>
