
<ion-header>

  <ion-navbar>
    <ion-title>Notifications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
        <div *ngFor = 'let notif of (notifInfo | async)?.reverse()'>
          <ion-item text-wrap *ngIf = 'notif.category == Filter'>
            <div *ngIf = 'Filter == "Traffic"'>
              <ion-icon name ="alert" item-start></ion-icon>
              {{ notif.notifDetail }}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ notif.timeStamp }}
            </div>
            <div *ngIf = 'Filter == "Parking"'>
              <ion-icon name ="flag" item-start></ion-icon>
              {{ notif.notifDetail }}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ notif.timeStamp }}
            </div>
            <div *ngIf = 'Filter == "Announcement"' (click)="dispDetails(notif)">
              <ion-icon name ="megaphone" item-start></ion-icon>
              {{ notif.title }}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ notif.timeStamp }}
            </div>
          </ion-item>
        </div>
      </ion-list>

</ion-content>
