<ion-header>

  <ion-navbar>
    <ion-title>Medical</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<div *ngFor = 'let dir of directoryName | async'>
  <ion-card *ngIf = 'dir.category == Filter'>
    <div *ngIf = 'Filter == "Medical"'>
      <ion-card-title>{{ dir.directoryName }}</ion-card-title>
      <ion-item style="white-space:normal;">
        <h2>Address</h2>
        <ion-icon name="pin" item-start large></ion-icon>
        <p>{{ dir.address }} </p>
      </ion-item>
      <ion-item>
        <h2>Contact</h2>
        <ion-icon name="call" item-start large></ion-icon>
        <p>{{ dir.contactNumber }}</p>
      </ion-item>
      <ion-item>
        <h2>Operating Hours</h2>
        <ion-icon name="time" item-start large></ion-icon>
        <p>{{ dir.operatingHours }}</p>
      </ion-item>
    </div>
  </ion-card>
</div>
</ion-content>

  <!--
  <ion-card>
    <img src="assets/imgs/directoryHolyChild.jpg"/>
    <ion-card-content>
      <ion-card-title>Holy Child Hospital</ion-card-title>

      <ion-item style="white-space:normal;">
        <h2>Address</h2>
        <ion-icon name="pin" item-start large></ion-icon>
        <p>Bishop Epifanio Surban Street</p>
      </ion-item>

      <ion-item>
        <h2>Contact</h2>
        <ion-icon name="call" item-start large></ion-icon>
        <p>421-0991</p>
      </ion-item>
          
      <ion-item>
        <h2>Operating Hours</h2>
        <ion-icon name="time" item-start large></ion-icon>
        <p>24 hours</p>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/directoryProvincialHospital.jpg"/>
    <ion-card-content>
      <ion-card-title>Negros Oriental Provincial Hospital</ion-card-title>
  
      <ion-item>
        <h2>Address</h2>
        <ion-icon name="pin" item-start large></ion-icon>
        <p>North Road, Piapi</p>
      </ion-item>
  
      <ion-item>
        <h2>Contact</h2>
        <ion-icon name="call" item-start large></ion-icon>
        <p>225-2614</p>
      </ion-item>
            
      <ion-item>
        <h2>Operating Hours</h2>
        <ion-icon name="time" item-start large></ion-icon>
        <p>24 hours</p>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/directorySUMS.jpg"/>
    <ion-card-content>
      <ion-card-title>Silliman University Medical Center</ion-card-title>
    
      <ion-item>
        <h2>Address</h2>
        <ion-icon name="pin" item-start large></ion-icon>
        <p>V. Aldecoa Road, Daro</p>
      </ion-item>
    
      <ion-item>
        <h2>Contact</h2>
        <ion-icon name="call" item-start large></ion-icon>
        <p>420-2000

        </p>
      </ion-item>
              
      <ion-item>
        <h2>Operating Hours</h2>
        <ion-icon name="time" item-start large></ion-icon>
        <p>24 hours</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
-->


