<ion-header>

  <ion-navbar>
    <ion-title>Contact</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen>
  <ion-list no-lines>
    <ion-item *ngFor = 'let chat of Chat | async' text-wrap item-left>
      <!--<ion-avatar item-start>
        <div *ngIf = "user.photoURL != undefined"><img src="{{ user.photoURL }}"></div>
        <div *ngIf = "user.photoURL == undefined"><img src="/assets/imgs/placeholder.png"></div>
      </ion-avatar>-->

      <div *ngIf = "user.displayName == chat.messageSender">
        <p class="chatUser">{{ chat.message }}</p>
        <ion-note class="userTimestamp">{{ chat.timeStamp }}</ion-note>
      </div>
      <div *ngIf = "user.displayName != chat.messageSender">
        <p class="chatTMO">{{ chat.message }}</p>
        <ion-note class="tmoTimestamp">{{ chat.timeStamp }}</ion-note>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-textarea placeholder="Enter message" class="msg" [(ngModel)]="message" value=""></ion-textarea>
    <ion-buttons end>
      <button ion-button icon-right color="primary" (click)="sendMessage()"> <!--[disabled]="isEnabled"-->
        SEND
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>