<ion-header>

  <ion-navbar>
    <ion-title>Contact</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen>
  <ion-list>
    <ion-item *ngFor = 'let chat of Chat | async' text-wrap>
      <ion-avatar item-start>
        <img src="/assets/imgs/placeholder.png">
      </ion-avatar>
      <!--<h2>{{ chat.messageSender }}</h2>-->
      <div *ngIf = "user == chat.messageSender">
        <h2>You</h2>
      </div>
      <div *ngIf = "user != chat.messageSender">
        <h2>{{ chat.messageSender }}</h2>
      </div>
      <p>{{ chat.message }}</p>
      <ion-note class="timestamp">{{ chat.timeStamp }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-textarea placeholder="Enter message" class="msg" [(ngModel)]="message" value=""></ion-textarea>
    <ion-buttons end>
      <button ion-button icon-right color="primary" (click)="sendMessage()">
        SEND
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>