page-contact {
    .msg {
        width:100%;
        height:auto;
        background-color:white;
        border:1px solid #cccccc;
        border-radius:10px;
    }

    .timestamp {
        text-transform:uppercase;
        font-size:small;
    }
    
    .chatUser {
        width:75%;
        padding:15px;
        background-color:#e6c76c;
        border-radius:15px;
        color:black;
        //float:right;
    }

    .chatTMO {
        width:75%;
        padding:15px;
        background-color:#ddd;
        border-radius:15px;
        color:black;
    }
}
