<ion-header>

  <ion-navbar>
    <div>
      <button ion-button icon-only item-start clear (click)="changeToggle()">
        <ion-icon name="compass"></ion-icon>
      </button>
      <span *ngIf="!toggle">
        <span class="searchActive">
          <input #autocomplete id="autocomplete" class="searchBar" type="text" placeholder="Enter location" />
          <button ion-button icon-only clear item-right end (click)="searchLocation()">
            <ion-icon name="search"></ion-icon>
          </button>
        </span>
        <span class="directionInactive">
          <input #autocomstart id="autocomplete" type="text" [(ngModel)]="Start" placeholder="Current location" />
          <input #autocomend id="autocomplete" type="text" [(ngModel)]="End" placeholder="Destination" />
          <button ion-button icon-only item-right clear (click)="calculateAndDisplayRoute()">
            <ion-icon name="search"></ion-icon>
          </button>
        </span>
      </span>
    </div>

    <div *ngIf="toggle">
      <span class="searchInactive">
        <input #autocomplete id="autocomplete" type="text" placeholder="Enter location" />
        <button ion-button icon-only clear (click)="searchLocation()">
          <ion-icon name="search"></ion-icon>
        </button>
      </span>
      <span class="directionActive">
        <input #autocomstart id="autocomplete" class="directionsBar" type="text" [(ngModel)]="Start" placeholder="Current Location" />
        <input #autocomend id="autocomplete" class="directionsBar" type="text" [(ngModel)]="End" placeholder="Destination" />
        <button ion-button icon-only clear (click)="calculateAndDisplayRoute()">
          <ion-icon name="search"></ion-icon>
        </button>
      </span>
    </div>
  </ion-navbar>

</ion-header>

<ion-content>
  <div #map id="map"></div>
</ion-content>
