
<ion-header>
  
    <ion-navbar>
      <ion-title>Notifications</ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="btn_cat()" color="dark"><ion-icon name="albums"></ion-icon></button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
  
      <ion-list>
        <ion-item text-wrap *ngFor = 'let notif of (notifInfo | async)?.reverse()'>
          <div *ngIf = 'notif.category == "Traffic"'>
            <ion-icon name = "alert" item-start></ion-icon>
            {{ notif.notifDetail }}
          </div>
          <div *ngIf = 'notif.category == "Parking"'>
            <ion-icon name = "flag" item-start></ion-icon>
            {{ notif.notifDetail }}
          </div>
          <div *ngIf = 'notif.category == "Announcement"'>
            <ion-icon name = "megaphone" item-start></ion-icon>
            {{ notif.notifDetail }}
          </div>
        </ion-item>
      </ion-list>
       
  </ion-content>
  