
<ion-header>
  
    <ion-navbar>
      <ion-title>Notifications</ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="btn_cat()" color="dark"><ion-icon name="albums"></ion-icon></button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
  
      <ion-list>
        <!--<ion-item text-wrap>
          <ion-icon name="megaphone" item-start></ion-icon>
            <b>Checkpoint</b> at Aldecoa Road, Laguna
        </ion-item>-->
  
        <ion-item text-wrap *ngFor = 'let notif of notifInfo | async'>
          <div *ngIf = 'notif.type == "traffic"'>
            <ion-icon name = "alert" item-start></ion-icon>
            <b>{{ notif.rating }} Traffic</b> at {{ notif.location }}
          </div>
          <div *ngIf = 'notif.type == "parking"'>
            <ion-icon name = "flag" item-start></ion-icon>
            <b>{{ notif.rating }} Parking</b> at {{ notif.location }}
          </div>
          <div *ngIf = 'notif.type == "announcement"'>
            <ion-icon name = "megaphone" item-start></ion-icon>
            {{ notif.details }}
          </div>
        </ion-item>
  
        <!--<ion-item text-wrap>
          <ion-icon name="flag" item-start></ion-icon>
            <b>Parking Available</b> at 7 Silliman Avenue
        </ion-item>-->
      </ion-list>
       
  </ion-content>
  