<ion-header>
  <ion-navbar>
    <ion-title>Notifications</ion-title>
  <ion-buttons end>
      <button ion-button icon-only (click)="btn_cat()" color="dark"><ion-icon name="albums"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
  
<ion-content padding>
  <ion-list>
    <div *ngFor = 'let notif of notifInfo | async'>
      <ion-item text-wrap *ngIf = 'notif.category == "Traffic"'>
        <ion-icon name="alert" style="color:#e6c76c;" item-start large></ion-icon>
        <p><b>{{ notif.notifDetail }}</b></p>
        <ion-note class="timestamp">{{ notif.timeStamp }}</ion-note>
      </ion-item>

      <ion-item text-wrap *ngIf = 'notif.category == "Parking"'>
        <ion-icon name="flag" style="color:#e6c76c;" item-start large></ion-icon>
        <p><b>{{ notif.notifDetail }}</b></p>
        <ion-note class="timestamp">{{ notif.timeStamp }}</ion-note>
      </ion-item>

      <ion-item text-wrap *ngIf = 'notif.category == "Announcement"' (click)="dispDetails(notif)">
        <ion-icon name="megaphone" style="color:#e6c76c;" item-start large></ion-icon>
        <p><b>{{ notif.title }}</b></p>
        <ion-note class="timestamp">{{ notif.timeStamp }}</ion-note>  
      </ion-item>
    </div>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
 
</ion-content>
  